@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lobster&family=Overpass:ital@1&family=Righteous&display=swap');
/* font families
font-family: 'Lobster', cursive;
font-family: 'Overpass', sans-serif;
font-family: 'Righteous', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container{
    padding-left: 2rem;
    padding-right: 2rem;
}

/* navbar */

.navbar{
    height: 12vh;
    width: 100%;
    color: white;
    background-color: #0072B5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
}

.navbar .logo{
    font-family: 'Lobster', cursive;
    font-size: 2rem; 
    cursor: pointer;
}

span{
    color: #0072B5;
    background-color: white;
}

.navs ul li{
    display: inline-block;
}

.navs ul li a{
    color: white;
    font-family: 'Overpass', sans-seri;
    margin-right: .4rem;
    cursor: pointer;
    transition: .4s ease-in-out;
    padding: .6rem;
    border-radius: .2em;
    -webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
}


.navs ul li a:hover{
    background-color: white;
    color: #0072B5;
}


/* home section */

.home-page{
    height: 80vh;
    width: 100%;
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-heading .p1{
    font-size: 1.6rem;
    font-family: 'Overpass', sans-seri;
}

.home-heading .p2{
    font-size: 4rem;
    font-family: 'Cinzel', serif;
}

.home-heading .p3{
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.home-heading .p4{
    font-size: 1.8rem;
    font-family: 'Overpass', sans-seri;
}

.home-image img{
    clip-path: circle(50% at 50% 50%);
}


/* responsive code */

@media  screen and (max-width : 1089px) {
    
.home-heading .p1{
    font-size: 1.3rem;
}

.home-heading .p2{
    font-size: 2rem;
}

.home-heading .p3{
    font-size: 2.4rem;
}

.home-heading .p4{
    font-size: 1.3rem;
}

.home-image img{
    height: 20rem;
    width: 20rem;
}
}


@media screen and (max-width : 748px){
    .home-heading .p1{
        font-size: .9rem;
    }
    
    .home-heading .p2{
        font-size: 1.5rem;
    }
    
    .home-heading .p3{
        font-size: 1.7rem;
    }
    
    .home-heading .p4{
        font-size: .9rem;
    }
    
    .home-image img{
        height: 17rem;
        width: 17rem;
    }
}

@media screen and (max-width: 480px) {
    .navbar .logo{
        font-size: 1rem; 
        text-align: center;
    }
    .navs{
        display: none;
    }
    .home-page{
        margin: 1rem;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .home-heading{
        display: block;
        justify-content: center;
        text-align: center;
    }

    .home-image{
        display: block;
        align-items: center;
        justify-content: center;
    }
        
    .home-image img{
        height: 10rem;
        width: 10rem;
    }
}